Repository iegorov553/cerebrate-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

Path conditions:
  sync-translations: any of: bot/i18n/locales/ru\.json$
  check-translation-placeholders: any of: bot/i18n/locales/.*\.json$
  translation-completeness: any of: bot/i18n/locales/.*\.json$
  translation-markdown: any of: bot/i18n/locales/.*\.json$
  check-hardcoded-text: any of: bot/handlers/.*\.py$|bot/keyboards/.*\.py$
  bandit-security-check: any of: \.py$

🐛 FIX: Исправлены критические проблемы интерфейса
  VERSION
  bot/handlers/callbacks/admin_callbacks.py
  bot/handlers/callbacks/friends_callbacks.py
  bot/handlers/commands/social_commands.py
  bot/handlers/commands/user_commands.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  bot/keyboards/keyboard_generators.py
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🔧 SETUP: Настройка pre-commit hook и инструментов исправления
  .pre-commit-config.yaml
  analyze_hardcode.py
  bot/handlers/admin_conversations.py
  bot/handlers/callbacks/friends_callbacks.py
  bot/handlers/commands/config_commands.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  commit_with_legacy_issues.sh
  fix_hardcode.py
  fix_markdown.py
  hardcode_analysis.json
  hardcode_mapping.json
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🎯 HARDCODE: Полная ликвидация хардкода русского текста (115 нарушений)
  VERSION
  bot/handlers/admin_conversations.py
  bot/handlers/admin_handlers.py
  bot/handlers/callbacks/friends_callbacks.py
  bot/handlers/callbacks/questions_callbacks.py
  bot/handlers/commands/config_commands.py
  bot/handlers/error_handler.py
  bot/handlers/rate_limit_handler.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  bot/i18n/translator.py
  bot/keyboards/keyboard_generators.py
  bot/questions/question_manager.py
  bot/questions/question_templates.py
  bot/services/multi_question_scheduler.py
  fix_all_hardcode.py
  fix_remaining_hardcode.py
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🔧 MARKDOWN: Исправлены критические проблемы с Markdown в переводах
  VERSION
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  fix_all_hardcode.py
  fix_hardcode.py
  fix_markdown.py
  fix_remaining_hardcode.py
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, bandit-security-check

🔧 FIX: Исправлены критические синтаксические ошибки
  VERSION
  bot/handlers/admin_conversations.py
  bot/handlers/admin_handlers.py
  bot/handlers/error_handler.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправлены все 55 ошибок с неопределённой переменной translator
  VERSION
  bot/handlers/admin_conversations.py
  bot/handlers/admin_handlers.py
  bot/handlers/commands/config_commands.py
  bot/handlers/error_handler.py
  bot/questions/question_manager.py
  bot/questions/question_templates.py
  bot/services/multi_question_scheduler.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправлены проблемы с Whisper и качеством кода
  =1.0.0
  VERSION
  analyze_hardcode.py
  bot/feedback/github_client.py
  bot/handlers/admin_conversations.py
  bot/handlers/callbacks/admin_callbacks.py
  bot/handlers/commands/base_command_handler.py
  bot/handlers/commands/config_commands.py
  tests/test_translation_completeness.py
Due: check-hardcoded-text, bandit-security-check

🔧 HOTFIX: Исправлена критическая синтаксическая ошибка f-строк
  VERSION
  bot/handlers/admin_conversations.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить критические f-string ошибки в friends_callbacks.py
  VERSION
  bot/handlers/callbacks/friends_callbacks.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить все оставшиеся f-string ошибки в friends_callbacks
  VERSION
  bot/handlers/callbacks/friends_callbacks.py
  tests/test_f_string_syntax.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить критические проблемы логирования и отображения
  VERSION
  bot/handlers/callbacks/admin_callbacks.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  bot/utils/rate_limiter.py
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить проблему с языком в команде /start
  VERSION
  bot/handlers/commands/user_commands.py
Due: check-hardcoded-text, bandit-security-check

✨ IMPROVE: Улучшить читаемость health check сообщения
  VERSION
  bot/handlers/callbacks/admin_callbacks.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить ошибку 'DatabaseClient' object has no attribute 'rpc'
  VERSION
  bot/handlers/callbacks/friends_callbacks.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить markdown entities ошибку в активности друзей
  VERSION
  bot/handlers/callbacks/friends_callbacks.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить обновление меню после изменения статуса уведомлений
  VERSION
  bot/handlers/callbacks/settings_callbacks.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить критические ошибки в обработке вопросов
  VERSION
  bot/handlers/callbacks/questions_callbacks.py
  bot/keyboards/keyboard_generators.py
  bot/utils/rate_limiter.py
Due: check-hardcoded-text, bandit-security-check

🗑️ REMOVE: Удалить устаревшее меню настроек и исправить шаблоны вопросов
  VERSION
  bot/handlers/callbacks/__init__.py
  bot/handlers/callbacks/questions_callbacks.py
  bot/handlers/callbacks/settings_callbacks.py
  bot/handlers/commands/user_commands.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  bot/keyboards/keyboard_generators.py
  main.py
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🧹 CLEAN: Исправить все ошибки линтера и предупреждения
  VERSION
  analyze_hardcode.py
  bot/handlers/admin_conversations.py
  sync_translations.py
  tests/conftest.py
  tests/test_f_string_syntax.py
  tests/test_handlers_integration.py
  tests/test_i18n.py
  tests/test_integration.py
  tests/test_markdown_validation.py
  tests/test_rate_limiter.py
  tests/test_translation_completeness.py
Due: check-hardcoded-text, bandit-security-check

🔒 SECURITY: Устранить все проблемы безопасности Bandit
  VERSION
  bot/handlers/rate_limit_handler.py
  bot/utils/version.py
Due: check-hardcoded-text, bandit-security-check

🔧 CONFIG: Улучшить конфигурацию безопасности Bandit
  .bandit
  VERSION
Due: none

🔒 SECURITY: Включить все проверки Bandit для продакшена
  .bandit
  VERSION
Due: none

🔧 CI: Вернуть оригинальную команду Bandit в GitHub Actions
  .bandit
  .github/workflows/test.yml
  VERSION
Due: none

🔧 FIX: Исправить ошибку IndentationError в GitHub Actions
  .github/workflows/test.yml
  VERSION
Due: none

🔧 FIX: Исправить ошибку IndentationError в GitHub Actions
  .github/workflows/branch-protection.yml
  .github/workflows/translation-validation.yml
  VERSION
Due: none

🔧 FIX: Исправить YAML синтаксис в GitHub Actions workflows
  .github/workflows/branch-protection.yml
  .github/workflows/translation-validation.yml
  VERSION
Due: none

🔧 FIX: Исправить провалившиеся тесты GitHub Actions
  VERSION
  bot/handlers/callbacks/admin_callbacks.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить проблемы с Markdown валидацией в переводах
  VERSION
  bot/handlers/callbacks/navigation_callbacks.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить Группу A markdown проблем через интеграцию в Translator
  VERSION
  bot/handlers/callbacks/admin_callbacks.py
  bot/handlers/callbacks/feedback_callbacks.py
  bot/handlers/callbacks/friends_callbacks.py
  bot/handlers/callbacks/navigation_callbacks.py
  bot/handlers/commands/history_commands.py
  bot/handlers/commands/social_commands.py
  bot/handlers/feedback_handlers.py
  bot/i18n/translator.py
  docs/MARKDOWN_SAFETY_SOLUTIONS.md
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить все f-string синтаксические ошибки и проблемы markdown
  VERSION
  bot/handlers/admin_conversations.py
  bot/handlers/callbacks/admin_callbacks.py
  bot/handlers/callbacks/feedback_callbacks.py
  bot/handlers/callbacks/friends_callbacks.py
  bot/handlers/callbacks/navigation_callbacks.py
  bot/handlers/callbacks/questions_callbacks.py
  bot/handlers/commands/history_commands.py
  bot/i18n/translator.py
Due: check-hardcoded-text, bandit-security-check

🚀 FEATURE: Интеграция Groq API для распознавания речи с fallback системой
  README.md
  VERSION
  bot/config.py
  bot/handlers/voice_handlers.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  bot/services/whisper_client.py
  requirements.txt
  tests/test_groq_whisper_integration.py
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check

🔧 FIX: Исправить критические ошибки тестов и добавить Markdown безопасность
  CLAUDE.md
  VERSION
  bot/handlers/callbacks/questions_callbacks.py
  bot/handlers/commands/social_commands.py
  bot/handlers/commands/system_commands.py
  bot/handlers/rate_limit_handler.py
  bot/services/whisper_client.py
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/VOICE_RECOGNITION.md
  tests/test_callback_handlers_refactor.py
  tests/test_command_refactoring.py
  tests/test_groq_whisper_integration.py
  tests/test_markdown_validation.py
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Добавить обработчик для переключения уведомлений
  VERSION
  bot/handlers/callbacks/questions_callbacks.py
  bot/keyboards/keyboard_generators.py
Due: check-hardcoded-text, bandit-security-check

🔧 REFACTOR: Упростить обработку переключения уведомлений
  VERSION
  bot/handlers/callbacks/questions_callbacks.py
Due: check-hardcoded-text, bandit-security-check

📚 DOCS: Создать структурированную документацию для AI разработки
  CLAUDE.md
  VERSION
  docs/HANDLERS_MAP.md
  docs/QUICK_REFERENCE.md
  docs/README.md
Due: none

🔧 FIX: Добавить недостающие обработчики questions callbacks
  VERSION
  bot/handlers/callbacks/questions_callbacks.py
  docs/HANDLERS_MAP.md
Due: check-hardcoded-text, bandit-security-check

🔧 FIX: Добавить метод send_test_question в QuestionManager
  VERSION
  bot/questions/question_manager.py
Due: bandit-security-check

📚 MAJOR: Реструктуризация AI документации - Этапы 1-2 завершены
  CLAUDE.md
  VERSION
  docs/ai/README.md
  docs/ai/big-tasks/ai-documentation-restructure.md
  docs/ai/handlers/handlers-map.md
  docs/ai/handlers/patterns.md
  docs/ai/handlers/questions-specifics.md
  docs/ai/project-facts.md
Due: none

📚 DOCS: Создание AI documentation system + интеграция user requirements + retro система
  CLAUDE.md
  VERSION
  bot/handlers/commands/system_commands.py
  bot/i18n/locales/en.json
  bot/i18n/locales/es.json
  bot/i18n/locales/ru.json
  docs/HANDLERS_MAP.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/ai/README.md
  docs/ai/big-tasks/README.md
  docs/ai/big-tasks/ai-documentation-restructure.md
  docs/ai/big-tasks/callback-cleanup.md
  docs/ai/big-tasks/handlers-refactoring.md
  docs/ai/forbidden-actions.md
  docs/ai/handlers/friends-specifics.md
  docs/ai/project-facts.md
  docs/ai/retro.md
  docs/ai/workflows/adding-callbacks.md
  docs/ai/workflows/database-operations.md
  docs/ai/workflows/error-patterns.md
Due: sync-translations, check-translation-placeholders, translation-completeness, translation-markdown, check-hardcoded-text, bandit-security-check
